body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='checkbox'] {
  accent-color: #34225c;
}

.box-label{
  padding:2px;
  margin:2px;
  color:#34225c;
  word-wrap: break-word;
}


.title{
  position: fixed;
  left: 50px;
  top:75px;
}

.description{
  position: fixed;
  left: 55px;
  top: 125px;
}

.button-container{
  height: 100px;
  width: 200px;
  position:fixed;
  left: 1200px;
  top: 300px;
  border: 2px solid green;
}

.form-button{
  width: 150px;
  height: 35px;
  margin: 2px;
  padding: 5px;
  background-color: #34225c;
  color: white;
  border-radius: 5px;
  border: 2px solid #34225c;
}

.form-button {
  transition-duration: 0.2s;
}

.form-button:hover {
  background-color: #a999cc;
  color: white;
}

.checkbox-background{
  height: 230px;
  width: 1100px;
  columns: 100px 7;
  background-color: #C9E1D9;
  border-radius: 10px;
  position:fixed;
  padding: 10px;
  left: 50px;
  top: 250px;
  overflow: auto;
}


